@model Sess2.Models.Data.Product

@{
    ViewData["Title"] = "UpdateProduct";
}

<h1>UpdateProduct</h1>

<h4>Product -@Model.Productid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Productid" class="control-label"></label>
                <input asp-for="Productid" class="form-control" />
                <span asp-validation-for="Productid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productname" class="control-label"></label>
                <input asp-for="Productname" class="form-control" />
                <span asp-validation-for="Productname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplierid" class="control-label"></label>
                <input asp-for="Supplierid" class="form-control" />
                <span asp-validation-for="Supplierid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoryid" class="control-label"></label>
                <input asp-for="Categoryid" class="form-control" />
                <span asp-validation-for="Categoryid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantityperunit" class="control-label"></label>
                <input asp-for="Quantityperunit" class="form-control" />
                <span asp-validation-for="Quantityperunit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unitprice" class="control-label"></label>
                <input asp-for="Unitprice" class="form-control" />
                <span asp-validation-for="Unitprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unitsinstock" class="control-label"></label>
                <input asp-for="Unitsinstock" class="form-control" />
                <span asp-validation-for="Unitsinstock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unitsonorder" class="control-label"></label>
                <input asp-for="Unitsonorder" class="form-control" />
                <span asp-validation-for="Unitsonorder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reorderlevel" class="control-label"></label>
                <input asp-for="Reorderlevel" class="form-control" />
                <span asp-validation-for="Reorderlevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discontinued" class="control-label"></label>
                <input asp-for="Discontinued" class="form-control" />
                <span asp-validation-for="Discontinued" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
